{# src/Labor/BackendBundle/Resources/views/index.html.twig #}

{% extends 'LaborBackendBundle:Default:base.html.twig' %}

{% block body %}

<div class="border navyblue"> </br>
	<h2> Wilkommen in Physik Department</h2>
	<p> Nam laoreet dui felis, nec porta lectus molestie non. Aliquam erat volutpat. Nam convallis pulvinar felis vitae facilisis. Morbi sit amet fermentum nisi, quis condimentum orci. Nunc sagittis, mauris id consequat feugiat, dolor sem consectetur mauris, vel auctor ipsum leo in purus. Phasellus lacus orci, condimentum dictum erat et, vulputate condimentum sapien. Morbi hendrerit nulla dolor, quis molestie risus dignissim eget.
	 </br> </br> Ihre Entwickler-Team</p>  
</div>
<div class="border lightyellow"> </div>
<div class="border turkis"> </div>

{% endblock %}
