<html>
<head>
	
</head>
<link rel="stylesheet" href="http://lablet.vega.uberspace.de/web/css/reset.css" type="text/css">
<link rel="stylesheet" href="http://lablet.vega.uberspace.de/web/css/main.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".messages").click(function(){
    $("#MsgBox").slideToggle();
  });
});
</script>

<body>

<div id="Header">  
	<div id="Spalte">
		<div id="Logo"> Physik Department</div>
		
	</div>
</div>

<div id="MainContent"> 
<div id="InfoBoard"> 

</div>
<div id="Login" class="border"> 
	<b> Login </b></br></br>
	<h4>Please, login in with your email and password..</h4></br>
	<label> E-mail: </label> </br>
	<input type="text" class="inputsty" /> </br></br>
	<label> Passwort: </label> </br>
	<input type="password" class="inputsty"/> </br></br>
	<input type="submit" class="buttonsty" value="Login"/>
</div>

</div>
</div>



</body>
</html>